
[submodule "BraveFish/vendor/GLFW"]
	path = BraveFish/vendor/GLFW
	url = https://github.com/jun-nda/glfw
[submodule "BraveFish/vendor/imgui"]
	path = BraveFish/vendor/imgui
	url = https://github.com/jun-nda/imgui
[submodule "BraveFish/vendor/spdlog"]
	path = BraveFish/vendor/spdlog
	url = https://github.com/gabime/spdlog
